@import 'src/app';
@import '../List/list.scss';

.board-container {
    padding: 30px;
    min-width: fit-content;
    overflow-x: auto;
}

.board-title {
    text-align: center;
    text-transform: uppercase;
    margin: 20px;
    margin-bottom: 40px;
    padding: 10px;
    border: 2px solid $border;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px $shadow;
}

.lists {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    column-gap: 50px;
}

.board-btn {
    @extend %btn;
}

.board-btn:hover {
    @extend %btn-hover;
}